<div class="jumbotron container">
    <h1 class="display-4">Directives</h1>
    <p class="lead">Using ngIf and ngFor directives.</p>
    <hr class="my-4">
    <button (click) = "toggleDisplay()">Toggle Display</button><br/><br/>
    <div *ngIf="displayName; else elseBlock">
        <h5>Name</h5>
        <ul *ngFor="let name of names">
            <li>{{name}}</li>
        </ul>
    </div>
    <ng-template #elseBlock>
        <h5>Account Number</h5>
        <ul *ngFor="let accNo of accountNumbers">
            <li>{{accNo}}</li>
        </ul>    
    </ng-template>
</div>